body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 400px;
  background-color: cornflowerblue;
}

.navbar{
  width: 90%;
  border: solid 2px black;
  margin: 0 auto;
  
  
}


.navbar__logo{
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: coral;
  left: 0px;
}
